<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="card-form profile-form card-device text-center">
      <form method="get" action="/profiles/new">
        <div>
          <input type="checkbox" id="choice" name="choice" value="1">
          <label for="choice">Stoicism</label>
          <input type="checkbox" id="choice" name="choice" value="2">
          <label for="choice">Epicurism</label>
          <input type="checkbox" id="choice" name="choice" value="3">
          <label for="choice">Buddhism</label>
          <input type="checkbox" id="choice" name="choice" value="4">
          <label for="choice">Academy</label>
        </div>
        <div>
          <button type="submit">Suivant</button>
        </div>
      </form>
    </div>
  </div>
</div>

