.post-question {
  background-color: #EC9B3B;
  border-radius: 10px;
  // height: 30px;
  // width: 100px;
  margin: 30px;
  padding: 10px;
  box-shadow: -1px 15px 30px -12px black;
  color: white;
  text-decoration: none !important;
}

.response {
  padding: 20px;
}

.line {
  border: 0.5px #f0f0f0 solid;
  width: 620px;
}

