<div class="clash-card-small archer">
  <br>
  <br>
  <br>
  <div class="clash-card__level clash-card__level--archer">Position 1 / 4</div>
  <div class="clash-card__unit-name"><%= school.title.capitalize %></div>
  <br>
  <br>
  <br>
  <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">

    <div class="one-third">
      <div class="stat"><%= school.score %></div>
      <div class="stat-value">Xp</div>
    </div>

    <div class="one-third no-border">
      <div class="stat">143</div>
      <div class="stat-value">Responses</div>
    </div>
  </div>
</div> <!-- end clash-card archer-->
