<div class="clash-card-small goblin">
  <div class="clash-card__image-small clash-card__image--goblin-small">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin.png" alt="goblin" />
  </div>
  <div class="clash-card__level clash-card__level--goblin">Level 68 / 120</div>
  <div class="clash-card__unit-name"><%= e.grade.capitalize %> <%= e.username.capitalize %></div>
  <div class="clash-card__unit-description">
    These pesky little creatures only have eyes for one thing: LOOT! They are faster than a Spring Trap, and their hunger for resources is limitless.
  </div>

  <div class="clash-card__unit-stats clash-card__unit-stats--goblin clearfix">
    <div class="one-third">
      <div class="stat"><%= e.role %></div>
      <div class="stat-value">Role</div>
    </div>

    <div class="one-third">
      <div class="stat">14078</div>
      <div class="stat-value">Xp</div>
    </div>

    <div class="one-third no-border">
      <div class="stat">143</div>
      <div class="stat-value">Responses</div>
    </div>
  </div>
</div> <!-- end clash-card goblin-->
