<div class="big-card">
  <div class="top-card">
    <h4 class="top-card-title">
      <%= question.question_type %><br>
    </h4>
  </div>
  <div class="bottom-card">
    <%= question.title %>
    <%= question.description %>
    <hr>
  </div>
</div>



