<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">AG<strong style="color: red">O</strong>RA</h1>
      <p class="text-center"><strong>Defend</strong> your school, <strong>improve</strong> your life!</p>
      <div class="text-center"> <%= image_tag "parthenon.png", height: 150 %></div>
      <p class="text-center">Once upon a time, philosophic schools struggle on a public place… <br>Agora was this place. Citizen debate about a lot of subject. Internet is our Agora.</p>
    </div>
  </div>
</div>
