<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">AG<strong style="color: red">O</strong>RA</h1>
      <p class="text-center"><strong>Defend</strong> your school, <strong>improve</strong> your life!</p>
      <div class="text-center"> <%= image_tag "parthenon.png", height: 150 %></div>
      <p class="text-center">Once upon a time Agora, a place where each citizen could debate.  <br>A place where philosophic schools could share their doctrine… <br>Today internet is our Agora.</p>
    </div>
  </div>
</div>
<div class="container" style="background-color: white">
  <div class="row">
    <div class="col-xs-4">
      <div class="card">
        <p>Become a citizen</p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="card">
        <p>Choose a school</p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="card">
        <p>Win the world cup</p>
      </div>
    </div>
  </div>
</div>
