.card {
  background-color: $agora-color;
  width: 200px;
  height: 200px;
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  margin: 60px 0px;
  display: flex;
  position: relative;
  margin-left: 90px;
}

.card-item {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: black;
  font-size: 14px;
}

.card-img {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-item-level {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: black;
  font-size: 14px;
}

// card form

.card-form {
  background-size: cover !important;
  background-position: center;
  position: relative;
  margin: 20px;
  width: 280px;
  height: 350px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 2px;
  height: 500px;
  &.card-device {
    width: 400px;
    margin-top: 100px;
    background-color: white;
    padding-top: 20px;

  }
  &.card-form {
    width: 400px;
    margin-top: 100px;
    background-color: white;
    padding-top: 20px;
    margin-top: -15px;
    margin-left: 50px;
  }
}

$border-radius-size: 14px;
$barbarian: #EC9B3B;
$archer: #EE5487;
$giant: #F6901A;
$goblin: #82BB30;
$wizard: #4FACFF;

.big-card {
  background: white;
  width: 90%;
  height: 400px;
  // display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  margin-bottom: 50px;
  margin-top: 50px;
}

.top-card {
  position: absolute;
  background-color: #EC9B3B;
  top: 0px;
  right: 0px;
  left: 0px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
  height: 80px;
}

.top-card-title {
  position: absolute;
  top: 10px;
  left: 20px;
  color: white;
}

.bottom-card {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 85px;
}

.profile-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-item {
  flex: 1 1 33%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
}

.big-card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

// new card --------------------------------------------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);



*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgba(140,122,122,1) 0%, rgba(175,135,124,1) 65%, rgba(175,135,124,1) 100%) fixed;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
}

.clash-card {
  background: white;
  width: 300px;
  // display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  margin-bottom: 50px;
  margin-top: 50px;
}

.clash-card-description {
  background: white;
  width: 400px;
  // display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  margin-bottom: 50px;
  margin-top: 50px;
}

.clash-card__image_description {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.clash-card__image--barbarian {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
  img {
    width: 400px;
    position: absolute;
    top: -65px;
    left: -70px;
  }
}

.clash-card__image--archer {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
  img {
    width: 400px;
    position: absolute;
    top: -34px;
    left: -37px;
  }
}

.clash-card__image--goblin {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg');
  img {
    width: 370px;
    position: absolute;
    top: -21px;
    left: -37px;
  }
}

.clash-card__image--wizard {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg');
  img {
    width: 345px;
    position: absolute;
    top: -28px;
    left: -10px;
  }
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: $barbarian;
}

.clash-card__level--archer {
  color: $archer;
}

.clash-card__level--giant {
  color: $giant;
}

.clash-card__level--goblin {
  color: $goblin;
}

.clash-card__level--wizard {
  color: $wizard;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.clash-card__unit-stats--barbarian {
  background: $barbarian;

  .one-third {
     border-right: 1px solid #BD7C2F;
  }
}

.clash-card__unit-stats--archer {
  background: #EC9B3B;

  .one-third {
     border-right: 1px solid #D04976;
  }
}

.clash-card__unit-stats--giant {
  background: $giant;

  .one-third {
     border-right: 1px solid darken($giant, 8%);
  }
}

.clash-card__unit-stats--goblin {
  background: $goblin;

  .one-third {
     border-right: 1px solid darken($goblin, 6%);
  }
}

.clash-card__unit-stats--wizard {
  background: $wizard;

  .one-third {
     border-right: 1px solid darken($wizard, 6%);
  }
}

.clash-card__unit-stats {

  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;

  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }

  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .no-border {
    border-right: none;
  }
}

// small card

.clash-card-small {
  background: white;
  width: 250px;
  // display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  margin-top: 50px;
}

.clash-card__image-small {
  position: relative;
  height: 100px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.clash-card__image--barbarian-small {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
  img {
    width: 200px;
    position: absolute;
    top: -65px;
    left: -70px;
  }
}

.clash-card__image--archer-small {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
  img {
    width: 200px;
    position: absolute;
    top: -34px;
    left: -37px;
  }
}

.clash-card__image--goblin-small {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg');
  img {
    width: 200px;
    position: absolute;
    top: -21px;
    left: -37px;
  }
}

.clash-card__image--wizard-small {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg');
  img {
    width: 200px;
    position: absolute;
    top: -28px;
    left: -10px;
  }
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

// agora page card

.question-card {
  background: white;
  height: auto;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  margin-bottom: 50px;
  margin-top: 50px;
  height: 170px;
}

.question-top-card {
  position: absolute;
  background-color: #EC9B3B;
  top: 0px;
  right: 0px;
  left: 0px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
  height: 100px;
}

.question-type {
  position: absolute;
  top: 5px;
  left: 20px;
  color: white;
  font-size: 12px;
}

.question-author {
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 12px;
  color: white;
}

.question-description {
  position: absolute;
  top: 25px;
  left: 20px;
  color: white;
  font-size: 16px;
}

.question-delete {
  position: absolute;
  top: 45px;
  right: 20px;
  color: white;
  font-size: 16px;
}

.question-bottom-card {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 85px;
}

.question-detail {
  position: relative;
  padding-bottom: 20px;
  bottom: -50px;
}

.post-question-btn {
  position: absolute;
  left: 10px;
  text-decoration: none !important;
  color: black;
}

.question-detail-item-1 {
  position: absolute;
  right: 50px;
}

.question-detail-item-2 {
  position: absolute;
  right: 200px;
  top: -10px;
}

.question-detail-item-3 {
  position: absolute;
  right: 250px;
}

