.title-label {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.title-device {
  color: black;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 20px;
  text-align: center;
}

.field {
  background-color: #F0F0F0;
  padding: 10px;
  width: 80%;
}

#new_user {
  padding-top: 90px;
}

.submit {
  margin-top: 20px;
  margin: 30px;
  width: 80%;
}

// .submit:hover {
//   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
// }

.link:hover {
  color: #FFF;
}

.form-group > * {
  border-radius: 2px;
  border: 0px black solid;
}

.form-control {
  // margin-left: 100px;
}

.form-check {
  margin-left: 100px;
}

.check_box {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  display: flex;
  padding-left: 105px;
}
.selected {
  background-color: #FE7F2D;
  color: white;
}

//option:first-child {
//    display: none;
//  }


.profile-form {
  width: 300px;
  height: 900px;
}

// response form

.response-form {
  background-color: #F0F0F0;
}

.simple_form.new_response {
  display: flex;
}

#response_school_id {
  display: inline !important;
  width: 160px;
  margin-top: 18px;
  height: 38px;
  margin-left: 5px;
}

#response_description {
  resize: none;
  width: 580px;
  height: 40px;
  min-height: 40px;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 15px;
  border: 0.5px solid #f0f0f0;
  border-radius: 20px;
}

.btn.btn-submit-reponse {
  background-color: #204E5F;
  margin-top: 18px;
  margin-left: 5px;
}
